@import '../main.scss';

.about {
  background-attachment: fixed;

  &-company {
    background-image: url('../../images/okeykat-tgxqpsVG-0A-unsplash.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-start;
    height: 100vh;
    padding: 8%;

    & p {
      color: lighten($color-dark, 6%);
      font-size: 1.8rem;
      line-height: 1.8;
      margin-top: 5%;
    }
  }

  &-mission {
    background-color: $color-light;
    background-size: cover;
    background-position: center;
    height: 115vh;

    display: flex;
    flex-direction: column;
    padding: 8%;


    &-cards {
      margin-top: 3%;
      background-color: $color-green;
    }

    
  }

  &-team {
    background-image: url('../../images/milad-fakurian-WRnuGh8rPm0-unsplash.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    height: 100vh;
    padding: 8%;

    & h1 {
      color: $color-green;
    }
  }

  &-text {
    background-color: rgba(51, 51, 51, .15);
    box-shadow: 3px 2px 5px rgba(58, 57, 57, 0.3);
    backdrop-filter: blur(8px);
    border-radius: 3px;
    padding: 5%;
    width: 60%;
  }

}