@import '../main.scss';

.header {
  background-color: transparent;
  display: flex;
  font-size: 1.2rem;
  justify-content: space-between;
  padding: 2rem 8rem;
  position: fixed;
  width: 100%;

  &-nav {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 30%;
  }

  &-nav-item {
    color: $color-dark;
    padding: .5rem 1rem;
    transition: all .5s;
    text-decoration: none;

    &::after {
      content: "";
      height: 1px;
      width: 100%;
      display: block;
      transition: all .8s ease;
      transform: scaleX(0);
      transform-origin: bottom left;
    }

    &:hover::after {
      background-color: $color-green;
      z-index: 10;
      transform: scaleX(1);
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.selected {
  background-color: aqua !important;
  color: red !important;
}