@import '../main.scss';

.header {
  background-color: transparent;
  display: flex;
  font-size: 1.2rem;
  justify-content: space-between;
  padding: 2rem 8rem;

  &-nav {
    width: 30%;
  }

  &-nav-list {
    display: flex;
    list-style: none;
    justify-content: space-between;
  }

  &-nav-item {
    padding: .5rem 1rem;
    transition: all .5s;

    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-light 50%);
    background-size: 230%;

    &::after {
      content: "";
      height: 1px;
      width: 100%;
      display: block;
      transition: all .8s ease;
      transform: scaleX(0);
      transform-origin: bottom left;
    }

    &:hover::after {
      background-color: $color-green;
      z-index: 10;
      transform: scaleX(1);
    }

    &:hover {
      cursor: pointer;
    }
  }
}