@import '../main.scss';

.home {
  background-image: url('../../images/pawel-czerwinski-lWBZ01XRRoI-unsplash.jpg');
  background-size: cover;
  background-position: center;
  
  height: 100vh;

  &-text {
    margin-left: 8rem;
    // margin-top: 5%;
    padding-top: 12%;
    text-align: left;
    width: fit-content;

    display: flex;
    flex-direction: column;
  }

  &-text-1 {
    font-size: 15rem;
    font-weight: 200;
    letter-spacing: 2rem;
    color: $color-green;
  }

  &-text-2 {
    margin-top: -4rem;
    margin-left: 1.5rem;
    font-size: 1.9rem;
    letter-spacing: .15rem;
    font-weight: 500;
    color: darken($color-light, 30%);
  }

  &-btn {
    background-color: transparent;
    border: none;
    color: $color-green;
    font-family: inherit;
    font-size: 1.1rem;
    margin: 15% 11% 0 0;
    align-self: flex-end;

    &::after {
      content: "";
      height: 1px;
      width: 100%;
      display: block;
      transition: all .8s ease;
      transform: scaleX(0);
      transform-origin: bottom left;
    }

    &:hover::after {
      background-color: $color-green;
      z-index: 11;
      transform: scaleX(1);
    }

    &:hover {
      cursor: pointer;
    }
  }
}
