@import '../main.scss';

.services {
  background-color: $color-light;
  background-size: cover;
  background-position: center;
  height: 115vh;

  display: flex;
  flex-direction: column;
  padding: 8%;

  &-title {
    display: flex;
    margin-bottom: 8%;
  }

  & h1 {
    color: $color-green;
  }

  &-cards {
    margin-top: 3%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-template-rows: repeat(2, 55%);
    grid-gap: 6rem;
    align-items: start;
  }

  &-card {
    background-size: cover;
    background-position: center;
    box-shadow: 3px 2px 5px rgba(58, 57, 57, 0.3);
    backdrop-filter: blur(8px);
    border-radius: 3px;
    display: flex;
    // filter: grayscale(100%);
    filter: brightness(0.4);
    color: $color-light-3;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 8%;
    transition: all .6s;

    & h2, & p {
      visibility: hidden;
      transition: all .6s;

    }

    &:hover {
      filter: none;
      cursor: pointer;
      transform: translateY(-2px);
   
      & h2, & p {
        visibility: visible;
        transform: translateY(-2px);
      }
    }

    & h2 {
      font-weight: 300;
      font-size: 2rem;
      margin-bottom: 3%;
    }

    & p {
      font-size: 1.15rem;
      font-weight: 400;
    }

    &-1 {
      background-image: linear-gradient(rgba(58, 57, 57, 0.4), rgba(58, 57, 57, 0.4)), url('../../images/solar.jpg');
    }

    &-2 {
      background-image: linear-gradient(rgba(58, 57, 57, 0.4), rgba(58, 57, 57, 0.4)), url('../../images/windEnergy.jpg');
    }

    &-3 {
      background-image: linear-gradient(rgba(58, 57, 57, 0.4), rgba(58, 57, 57, 0.4)), url('../../images/lowCarbon.jpg');
    }

    &-4 {
      background-image: linear-gradient(rgba(58, 57, 57, 0.4), rgba(58, 57, 57, 0.4)), url('../../images/recycle.jpg');
    }

    &-5 {
      background-image: linear-gradient(rgba(58, 57, 57, 0.4), rgba(58, 57, 57, 0.4)), url('../../images/sanitation.jpg');
    }

    &-6 {
      background-image: linear-gradient(rgba(58, 57, 57, 0.4), rgba(58, 57, 57, 0.4)), url('../../images/sustentability.jpg');
    }

  }
}