// COLORS
$color-green-light: rgb(163, 177, 138);
$color-green: rgb(88, 129, 87);
$color-green-dark: rgb(58, 90, 64);

$color-green-1: #62a263; 
$color-light: rgb(238, 238, 238);
$color-light-2: rgb(228, 228, 228);
$color-green-light-1: rgb(206, 212, 205);
$color-dark: rgb(6, 6, 6);

$color-primary: rgb(218, 215, 205);

// Fonts
$font-primary: 'Source Sans Pro', sans-serif;

$line-size: 1px;
$delay1: .5s;
$delay2: .9s;
$distance: -1px;