// COLORS
$color-green-light: rgb(163, 177, 138);
$color-green: rgb(88, 129, 87);
$color-green-dark: rgb(58, 90, 64);

$color-green-1: #62a263; 
$color-light: #eeeeee;
$color-light-2: #e4e4e4;
$color-green-light: #ced4cd;
$color-dark: #060606;

$color-primary: rgb(218, 215, 205);

// Fonts
$font-primary: 'Source Sans Pro', sans-serif;